<%- include("header") -%>

<br><br><br><br>
<h3>This page is made to illustrate how to add elements from different ejs file.</h3><br>
<h3>It contains header from a different file and footer from a different file</h3>

<%- include("footer") -%>
